@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e0f3e7;
}

.container {
    margin: 20px auto;
    padding: 20px;
}

.card.playlist {
    padding: 50px;
}

.card.song {
    width: 45%; 
    padding: 50px;
    background-color:  #F7B32B;
    border: 15px solid #c28720;
    border-radius: 40px;
    color: white;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
}

label {
    font-weight: bold;
}

input {
    width: 400px;
    padding: 15px 20px;
    border-radius: 15px;
    border: none;
    margin: 5px 0 20px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.btn {
    padding: 15px 30px;
    background-color: #37b249;
    border-radius: 15px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
    color:white;
    font-family:'Montserrat', sans-serif;
    font-weight: bold;
}

.song-image {
    width: 50%;
    box-shadow: 0 20px 50px rgba(75, 50, 6, 0.7);
    margin-bottom: 20px;
}

.card.song p {
    margin-bottom: 5px;
}

.song-title {
    font-weight: bold;
}

.song-author {
    font-size: 12px;
}

.song-album {
    font-style: italic;
    font-size: 12px;
}

/* Responsive Point */

@media (max-width: 1000px) {
    .card.song {
        width: 100%;
    }
}